$base-font-size: 21px;
$base-line-height: 28px;

$heading-font: "Barlow", sans-serif;
$body-font: "EB Garamond", Georgia, Times, serif;
// $body-font: "Barlow", sans-serif;

$spacing-s: .25 * $base-line-height;
$spacing-m: .5 * $base-line-height;
$spacing-l: $base-line-height;

$border-gray: #eee;
$blue: #3e8bff;

// MTP Variables

// Colors
$maroon: #581845;
$gold: #f1d556;
$blue: #283a90;

$body-font-color: darken($maroon,10%);
$background-color: $gold;
$link-color: $blue;
$hover-color: lighten($blue, 20%);
$header-font-color: $maroon;

