// Extended Big Picture Theme Styles for Magic, Theory, Practice

// variables added to @base

// Colors
// $body-font-color: #581845;
// $background-color: #f1d556;
// $link-color: #283a90;


#home #intro {
    background: no-repeat center url('../img/splash.jpg');
    height: 25rem;

    @media screen and (max-width: 768px ){
        height: 5rem;
    }
}

#search-container button[type="submit"] {
    color: $header-font-color;
}

a {
    text-decoration: none;
    color: $header-font-color;

    transition: color .25s;

    &:hover {
        color: lighten($header-font-color,50%)
    }
}

#wrap {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.browse.collections .record,
.browse.exhibits .record {
    max-height: 20rem;
    background-position: center;
    background-attachment: fixed;
    background-size: 20rem auto;
    background-repeat: no-repeat;
}