// Extended Big Picture Theme Styles for Magic, Theory, Practice

// variables added to @base

// Colors
// $body-font-color: #581845;
// $background-color: #f1d556;
// $link-color: #283a90;

html {
    color: $body-font-color;
}

a {
    text-decoration: none;
    color: $header-font-color;

    transition: color .25s;

    &:hover {
        color: lighten($header-font-color,50%)
    }
}

#wrap {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

}

header {
    background-color: rgba($gold,.75);
    box-shadow: 0 0 $spacing-s rgba(50, 50, 50, 0.5);

    #site-title {
        // font-family: "Caudex", serif;
        font-style: bold;
        font-size: $base-font-size * 2;
        line-height: $base-line-height * 1.5;
    }
}

#search-container, #advanced-form {
    border-bottom: 2.5px solid $gold;
}

.mm-listview li {
    font-size: 21px;
  }

article#content {
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-top: $spacing-s;

}

.landing.browse.collections .collection.record {
    box-shadow: 0 0 $spacing-s rgba(50, 50, 50, 0.5);

    .record-meta {
        height: calc(20rem - 2 * #{$spacing-l});
    }

    background-position: top center;
}

.records h3 {
    &:after {
        background-color: $gold;
    }
}

.browse.collections .record-meta:before,
.browse.exhibits .record-meta:before {
    background-color: rgba(0,0,0,.5);
}

.landing .collection.record {
    padding: 0;
}

.landing .record-meta {

    transition: box-shadow .25s ease;
    span { 
        position: relative;
        display: block;
        color: #fff;
    }

    span p {
        opacity: 0;
        transition: opacity .25s ease;
    }

    &:hover {
        box-shadow: 0 0 100px rgba(255, 255, 255, 0.8) inset;
        span p {
            opacity: 1;
        }
}

}

#collection-items {
    align-items: baseline;
}

.item.hentry {
    margin-bottom: $spacing-s;
    padding: $spacing-s;
}

.item-meta {
    .item-img img { box-shadow: 0 0 $spacing-s rgba(50, 50, 50, 0.5); }

    span {
        display: none;
    }
}

.items.tags #content>h1{
    display: none;
}

.navigation.items-nav.secondary-nav {
    margin-bottom: $spacing-l;
    &::after {
        content: 'Explore Themes';
        font-family: $heading-font; 
        font-size: 1.75 * $base-font-size;
        line-height: 1.5 * $base-line-height;
        color: $header-font-color;
    }
    ul {
        visibility: hidden;
    }
}

.hTagcloud ul.popularity li {
    border-radius: $spacing-l;
}

.bibliography li {
  margin-bottom: .5rem;
  list-style: none;
  padding-left: 2rem;
  text-indent: -2rem;
}

.contributors .contributor span {
  font-weight: bold; 
}   
